* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
}

/*Cabeçalho*/
header {
    background-image: url(https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6dd2bd10-7bbf-4801-8ad9-6d9c6bdc236d%2FGrupo_15.png?table=block&id=c34ce017-864d-42e0-91fc-ee7d6f65fb38&width=600&userId=119f80a8-1090-47b3-8fe1-57e1f46f9e6b&cache=v2);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 37.5rem;
    width: 100%;
}

nav {
    display: flex;
    height: 15.625rem;
    width: 100%;
    justify-content: space-between;
}

#logo {
    padding: 6.25rem 0 0 9.375rem;
    width: 80%;
}

ul {
    text-transform: uppercase;
    font-size: 1.875rem;
    list-style: none;
    align-self: center;
    border-bottom: #fff 0.125rem solid;
}

ul > li > a {
    color: #fff;
    text-decoration: none;
}

ul > li > a:hover {
    font-size: 1.9rem;
    text-shadow: #35363A 1px 2px 2px;
}

li {
    float: left;
    padding: 0px 2.1rem 2.1rem 2.1rem;
}

li:nth-child(3) {
    padding-right: 1.2rem;
}

#jumbotron {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#title-jumbotron {
    color: #fff;
    padding-right: 6.25rem;
    font-size: 4.375rem;
    font-weight: 100;
    margin-top: 5rem;
    margin-right: 3.125rem;
}

/*Menu Hamburguer*/
.checkbtn, #check {
    display: none;
}

/* Produtos */

.section-title {
    color: #B7AB9D;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8rem;
    font-size: 4rem;
    padding-bottom: 3.75rem;
}

#produtos {
    width: 100%;
    background-color: #35363A;
    height: 100%;
}

#items {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#anel, #colar, #relogio {
    display: flex;
    justify-content: center;
}

#anel > img, #relogio > img, #colar > img{
    width: 18.75rem;
    margin-bottom: 10.5rem;
}

.comprar > a {
    text-decoration: none;
    color: #35363A;
}

.comprar {
    background-color: #D6C2B7;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0.9rem 2.5rem;
    position: absolute;
}

.comprar:hover {
    transition: 0.2s all;
    padding: 1rem 2.6rem;
    box-shadow: #B7AB9D 0px 2px 3px;
}

#comprar-1, #comprar-2, #comprar-3 {
    margin-top: 350px;
}

.nome-item {
    font-size: 1.25rem;
    color: #35363A;
    position: absolute;
}

.nome-item > h3 {
    padding: 1.5rem 4.3rem;
}

/*Contato*/

#contato {
    background-color: #B7AB9D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-black {
    margin: 3.75rem 5rem;
}

#logo-black > img {
    width: 15rem;
}

#social-media {
    padding: 3.75rem 5rem;
    display: flex;
    flex-direction: column;
}

#phone > img, #email > img, #instagram > img {
    width: 1.2rem;
    margin: 0px 0.62rem;
}

#phone > a, #email > a, #instagram > a {
    font-size: 1.3rem;
    color: #35363A;
    text-decoration: none;
}

/*Footer*/
footer {
    background-color: #E7E9E6;
    display: flex;
    font-size: 1.5rem;
    height: 3.75rem;
    align-items: center;
    justify-content: flex-end;
}

footer > p {
    margin-right: 3.75rem;
}

/* MEDIA */
@media (max-width: 768px) {

    /* Corpo */
    body {
        overflow-x: hidden;
    }

    /* Cabeçalho */
    header {
        background-size: 100% 100%;
        height: 40rem;
    }

    #logo {
        width: 200px;
        padding: 30px 0 0 30px;
        position: absolute;
    }

    ul {
        display: none;
    }

    #title-jumbotron {
        position: absolute;
        z-index: 1;
        font-size: 3rem;
        padding-right: 0;
        margin-top: 15rem;
        margin-right: 1rem;
    }

    /*Menu Sanduiche*/

    .checkbtn {
        display: block;
        position: absolute;
        z-index: 3;
    }

    label {
        margin: 30px 30px 30px 30px;
        cursor: pointer;
        left: 70%;
    }

    label span {
        display: block;
        position: relative;
        height: 5px;
        width: 40px;
        background-color: #E7E9E6;
        transition: 0.25s ease-in-out;
    }

    label span:nth-child(1) {
        top: 0;
    }

    label span:nth-child(2) {
        top: 7px;
    }

    label span:nth-child(3) {
        top: 14px;
    }

    nav {
        height: 40rem;
    }

    ul {
        z-index: 2;
        border: none;
        height: 100%;
        width: 100%;
        background-color: #35363A;
    }

    input#check:checked ~ ul{
        display: flex;
        flex-direction: column;
    }

    input#check:checked + #logo{
        display: none;
    }

    input#check:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 20px;
    }

    input#check:checked + label span:nth-child(2){
        opacity: 0;
    }

    input#check:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top: 10px;
    }

    ul li {
        text-align: center;
    }

    ul li:nth-child(1) {
        padding-top: 50%;
    }

    ul li a {
        color: #B7AB9D;
    }

    /* Produto */
    .section-title {
        font-size: 3rem;
    }

    #items {
        flex-direction: column;
    }

    /* Contato */

    #contato {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #social-media {
        padding: 3.75rem 2rem;
    }

    /* Footer */
    footer > p {
        font-size: 1.3rem;
        margin: auto;
    }
}